<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">

    <!--Referencias-->
    <link rel="stylesheet" href="../resources/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/comentario.css">



    <title>DRAGON BALL BY CRISTOFER</title>



</head>

<body>



    <!--Barra de navehación-->


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="../index.html">INICIO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../views/heroes.html">HEROES <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/villanos.html">VILLANOS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SAGAS
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../views/saga celula.html">CELL</a>
                        <a class="dropdown-item" href="../views/Saga Frezeer.html">FREZEER</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../views/saga de  majin boo.html">MAJIN BOO</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link indisabled" href="../views/Agregar comentario.html" tabindex="-1" aria-disabled="true">AGREGRA UN COMENTARIO

                    </a>
                </li>
            </ul>

    </nav>

    <br>
    <br>
    <br>

    <!--Carrusel-->

    <div class="container Carrusel">
        <br>
        <br>

        <div class="row">
            <div class="col">
                <center>
                    <h2 style="color:white">AGREGA UN COMENTARIO(JS) </h2>
                </center>
                <br>

                <p> </p>
                <br>
                <br>

                <center><img style="width:800px" src="https://media2.giphy.com/media/Hdat3BDfazOZad4P1T/giphy.gif?cid=6c09b95265aa63e2305e46c0a0d5da3fc2a1d3eae36d73e4&rid=giphy.gif&ct=s"></center>
                <br>
                <br>

            </div>


        </div>



    </div>


    <!--Pie de pagina -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
        Derechos Reservados &copy; 2021

        <a class="nav-link " href="https://es.wikipedia.org/wiki/Akira_Toriyama#:~:text=Akira%20Toriyama%20(%E9%B3%A5%E5%B1%B1%20%E6%98%8E%20Toriyama,Chrono%20Trigger%20y%20Blue%20Dragon. ">CREADOR  <span class="sr-only ">(current)</span></a>
        <a class="nav-link " href="# ">DERECHOS DE AUTOR<span class="sr-only ">(current)</span></a>

        <a class="nav-link " href="https://www.facebook.com/ ">FACEBOOK <span class="sr-only ">(current)</span></a>
        <a class="nav-link " href="# ">WHATSAPP <span class="sr-only ">(current)</span></a>
    </footer>


    <script src="../resources/Bootstrap/jquery-3.5.1.slim.min.js "></script>
    <script src="..resources/Bootstrap/bootstrap.bundle.min.js "></script>



</body>


</html>