<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">

    <!--Referencias-->
    <link rel="stylesheet" href="../resources/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/saga celula.css">



    <title>DRAGON BALL BY CRISTOFER</title>


</head>

<body>



    <!--Barra de navehación-->


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="../index.html">INICIO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../views/heroes.html">HEROES <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/villanos.html">VILLANOS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SAGAS
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../views/saga celula.html">CELL</a>
                        <a class="dropdown-item" href="../views/Saga Frezeer.html">FREZEER</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="../views/saga de  majin boo.html">MAJIN BOO</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link indisabled" href="../views/agregar comentario.html" tabindex="-1" aria-disabled="true">AGREGAR UN COMENTARIO</a>
                </li>
            </ul>

    </nav>

    <br>
    <br>
    <br>

    <!--Carrusel-->

    <div class="container Carrusel">
        <br>
        <br>

        <div class="row">
            <div class="col">
                <center>
                    <h2 style="color:black">SAGA DE CELL </h2>
                </center>
                <br>

                <p><b> Cuando todo se hubo normalizado un poco trataron de resucitar a Gokuh con Polunga, pero la sorpresa fue monumental cuando recibieron la respuesta del saiyan: no estaba muerto, y decía que volvería cuando le apeteciese. Quedaron estupefactos.
                    Pasado un año de aquello, Gohan recibe una llamada urgente de Krilín; ha detectado una fuente de energía que parece estar acercándose a la Tierra. Los demás amigos también se dieron cuenta, y se dispusieron a plantarle cara. La fuente
                    de energía resultaba ser Freezer, que sobrevivió a duras penas a la explosión del planeta y había sido reconstruído a modo de ciborg. Lo acompañaba su padre, King Cold, que deseaba ajustarle las cuentas al individuo que se había atrevido
                    a hacerle aquello a su hijo. Pero cuando llegaron no duraron mucho, puesto que un misterioso muchacho hizo aparición y se enfrentó a ambos ¡transformándose en Super Saiyan! Los hizo literalmente picadillo sin apenas esfuerzo. Los demás
                    guerreros que han sido testigos de semejante hazaña, se ven volando hacia un lugar donde dice el joven que en tres horas aparecerá Gokuh. Para su sorpresa, el chico tiene razón en su predicción y Gokuh aparece aterrizando con una cápsula
                    espacial. El joven se va a un lado con Gokuh y le revela su identidad: es Trunks, el hijo de Bulma y Vegeta venido del futuro, vino para ponerles sobre aviso de la inminente llegada de dos androides muy poderosos que acabarán con los
                    guerreros defensores de la Tierra. Gokuh pregunta que por qué él no está para luchar y acabar con la amenaza, y Trunks le revela que contraerá una enfermedad del corazón que lo matará. En aquel tiempo no existe todavía cura, pero en
                    el futuro de Trunks sí, y éste se la entrega a Gokuh. Antes de marcharse, promete volver para ayudar a los guerreros a acabar con la amenaza, y le pide a Gokuh que no revele su identidad, sobre todo a sus padres, puesto que él todavía
                    no ha nacido. Trunks parte de nuevo a su desolado futuro, y Piccolo, que ha escuchado toda la conversación (tiene un oído superior al humano), se encarga de explicar la situación a los demás, eso sí, sin revelar la identidad del muchacho
                    venido del futuro. Los guerreros se entrenan duramente durante los tres años siguientes, y el día señalado, el 12 de Mayo, a las 9 de la mañana se reunieron todos en el lugar señalado por Trunks, en una isla situada a 9 km al sur de
                    la Capital Sudoeste, esperando que los androides sean puntuales y aparezcan pasada una hora. Los nuevos enemigos no se hicieron esperar y fueron puntuales: aparecieron el A-19 y A-20. </b></p>
                <br>
                <br>

                <center><iframe width="560" height="315" src="https://www.youtube.com/embed/yzL0OUGSO3Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                <br>
                <br>

            </div>


        </div>



    </div>


    <!--Pie de pagina -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
        Derechos Reservados &copy; 2021

        <a class="nav-link " href="https://es.wikipedia.org/wiki/Akira_Toriyama#:~:text=Akira%20Toriyama%20(%E9%B3%A5%E5%B1%B1%20%E6%98%8E%20Toriyama,Chrono%20Trigger%20y%20Blue%20Dragon. ">CREADOR  <span class="sr-only ">(current)</span></a>
        <a class="nav-link " href="# ">DERECHOS DE AUTOR<span class="sr-only ">(current)</span></a>

        <a class="nav-link " href="https://www.facebook.com/ ">FACEBOOK <span class="sr-only ">(current)</span></a>
        <a class="nav-link " href="https://web.whatsapp.com/ ">WHATSAPP <span class="sr-only ">(current)</span></a>
    </footer>


    <script src="../resources/Bootstrap/jquery-3.5.1.slim.min.js "></script>
    <script src="../resources/Bootstrap/bootstrap.bundle.min.js "></script>



</body>


</html>