<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">

    <!--Referencias-->
    <link rel="stylesheet" href="../resources/Bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../resources/css/Saga de maji.css">



    <title>DRAGON BALL BY CRISTOFER</title>


</head>

<body>



    <!--Barra de navehación-->


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbar-brand" href="../index.html">INICIO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="../views/heroes.html">HEROES <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../views/villanos.html">VILLANOS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SAGAS
            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="../views/saga celula.html">CELL</a>
                        <a class="dropdown-item" href="../views/Saga Frezeer.html">FREZEER</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">MAJIN BOO</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link indisabled" href="../views/agregar comentario.html" tabindex="-1" aria-disabled="true">AGREGAR UN COMENTARIO</a>
                </li>
            </ul>

    </nav>

    <br>
    <br>
    <br>

    <!--Carrusel-->

    <div class="container Carrusel">
        <br>
        <br>

        <div class="row">
            <div class="col">
                <center>
                    <h2 style="color:black">SAGA DE MAJIN BOO </h2>
                </center>
                <br>

                <p><b> Varios años después de la gran batalla contra Cell, la historia de la última saga se inicia, Gohan es un joven ya, ahora tiene un hermano llamado Goten, que es casi igual a Goku de niño, el Trunks actual es un niño un poco mayor, el Trunks del futuro regresa a su tiempo, Vegeta se ha vuelto más poderoso y más agresivo que antes, Goku ahora esta en el cielo pero desde ahí puede bajar de vez en cuando a la Tierra, La robot 18 es ahora humana por un deseo pedido al dios Dragon por Kurillin y tienen una hija.

                    Pareciera que ya no queda ningún enemigo en la Tierra que puede derrotar ahora al poderoso Gohan o a Vegeta, una vez destruido Cell, termina una saga que se inicio desde el comienzo de la serie, la lucha contra la Armada Cinta Roja (Red Ribbon), primero en Dragon Ball cuando Goku niño derrota a su ejercito y al mayor enemigo humano que enfrenta el asesinó Tao Pai Pai, despúes en Dragon Ball Z con el Dr. Gero con su robots y androides que terminaron en la creación de Cell, creado para derrotar a Goku, pero una vez destruido Cell ya nada en la Tierra es capaz de derrotar a los Saijayins, además ya habían destruido al que creian el más poderoso enemigo del Universo, Freeza, pero ahora enfrentarán a su mayor amenaza, a un ser que tiene el máximo poder y que ha estado dormido por millones de años : Majin Boo.</b></p>
                <br>
                <br>

                <center><iframe width="560" height="315" src="https://www.youtube.com/embed/J94wWmOI1zE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
                <br>
                <br>

            </div>


        </div>



    </div>


    <!--Pie de pagina -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer>
        Derechos Reservados &copy; 2021

        <a class="nav-link " href="https://es.wikipedia.org/wiki/Akira_Toriyama#:~:text=Akira%20Toriyama%20(%E9%B3%A5%E5%B1%B1%20%E6%98%8E%20Toriyama,Chrono%20Trigger%20y%20Blue%20Dragon. ">CREADOR  <span class="sr-only ">(current)</span></a>
        <a class="nav-link " href="# ">DERECHOS DE AUTOR<span class="sr-only ">(current)</span></a>

        <a class="nav-link " href="https://www.facebook.com/ ">FACEBOOK <span class="sr-only ">(current)</span></a>
        <a class="nav-link " href="https://web.whatsapp.com/ ">WHATSAPP <span class="sr-only ">(current)</span></a>
    </footer>


    <script src="../resources/Bootstrap/jquery-3.5.1.slim.min.js "></script>
    <script src="../resources/Bootstrap/bootstrap.bundle.min.js "></script>



</body>


</html>